<mat-drawer-container class='drawer-container'>
  <mat-drawer opened #drawer mode='side' class='drawer'>
    <section class='top-bar'>
      <div class='header' (click)='headerClick()'>Employees App</div>    
    </section>

    <section class="nav-items">
      <div class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-home"></i>Home<span class="sr-only">(current)</span></a>
      </div>
      <div class="nav-item">
        <a class="nav-link" [routerLink]="['/add']"><i class="fa fa-address-book"></i>Add Users</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" [routerLink]="['/manage']"><i class="fa fa-pencil"></i>Manage Users</a>
      </div>
    </section>
  </mat-drawer>

  <mat-drawer-content class='main-content' >
      <section class='top-bar toggle-bar'>
        <div class='toggle' (click)=drawer.toggle()><i class="fa fa-align-justify"></i></div>
      </section>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>

